body
{
    background-color: rgb(216, 201, 201);
    padding: 20px 20px 20px 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.space
{
  padding-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
  transition: transform 0.5s;
  background-color:white;
  margin: 20px;
}
.container {
  padding: 2px 16px;
  width: 20vw;
}
.card:hover{
  background-color:transparent;
  box-shadow: 0 8px 16px 0 black;
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
}



